* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* debut boutton switch */

body {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(255, 157, 77);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Classe pour l'arrière-plan sombre */
body.dark-mode {
    background-color: white;
    color: black;
}

/* fin boutton switch */

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dynapuff-uniquifier {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 35px;
}

.btn {
    display: inline-block;
}

.btn-primary {
    font-size: 25px;
}

.btn-secondary {
    font-size: 14px;
}

.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 130px;
}

.marginleft1 {
    margin-left: 115px;
}

.marginleft2 {
    margin-left: 75px;
}

.marginleft3 {
    margin-left: 50px;
}

.marginleft4 {
    margin-left: 100px;
}

.marginleft5 {
    margin-left: 130px;
}

.marginleft6 {
    margin-left: 250px
}

.marginright4 {
    margin-right: 100px;
}

.marginright3 {
    margin-right: 30px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.margin-bottom1 {
    margin-bottom: 190px;
}

.margin-bottom2 {
    margin-bottom: 80px;
}

.marginright {
    margin-right: 30px;
}

.marginleft {
    margin-left: 20px;
}

.marginend {
    justify-content: flex-end;
}

.marginright2 {
    margin-right: 7px;
}

/*FLEX BOT*/

/* rendre flexible un parent = aligner ses enfants */

.flex {
    display: flex;
    flex-wrap: wrap;

}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-content {
    align-content: center;
}

/* CLASSE DE DIMENSIONS*/

.w-100 {
    width: 100%;
}

.w-85 {
    width: 85%;
}

.w-50 {
    width: 50%;
}

.w-48 {
    width: 48%;

}

.w40 {
    width: 40%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    width: 5%;
}

.height {
    height: 50px;
}

.width {

    width: 225vh;
}

.maxwidth {

    max-width: 100%
}

/*HEADER*/

.logo {
    width: 70px;
}

header ul {
    list-style: none;
}

header {
    padding: 10px 64px;
}

/* section HERO*/

.sectionhero {
    background-image: url(asset/Banner.j);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;
}

.sectionhero div {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

.sectionhero div p {
    margin-bottom: 50px;
    font-size: 25px;
}

/* SECTION SERVICES*/

.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
    border-radius: 20px;
    padding: 20px;
}

.card h3 {
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 20px;
}

.font-size {
    font-size: 30px;
}

.reverse {
    flex-direction: row-reverse;
}

.border-raduis {
    border-radius: 30px 30px 30px 30px;
}

.btn2 {
    background-color: blanchedalmond;
}

.text-align-center {
    text-align: center;
}

.backgroundcolor {
    background-color: red;
}

.justify {
    justify-self: center;
}

.backgroundcolor2 {
    background-color: #F4F0EC;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.border-raduis {
    border-radius: 10px 10px 10px 10px;
}

.backgroundcolor3 {
    background-color: rgb(255, 157, 77);
    border-radius: 20px;
    padding: 20px;
}

.colorwhite {
    color: white;
}

.colorwhite2 {
    color: orange;
}

.colorwhite3{
    color: black;
}

.justifycontentflexstart {
    align-items: flex-start;
}

.test {
    align-items: flex-start;
}

.widthtest {
    width: 200px;
}

.justifycontentflex {
    justify-content: first baseline;
}

small {
    font-size: 0.7em;
}

abbr {
    color: brown;
}

.backgroundcolor4 {
    background-color: rgb(255, 238, 214);
}

.backgroundcolor5 {
    background-color: transparent;
}

a[href^="mailto"]::before {
    content: "valentin.vialleton1@gmail.com";
    color: orange;
}

a[href^="tel"]::before {
    content: "06 33 10 71 08";
    color: orange;
}

label {
    padding-right: 10px;
}

select {
    padding: 2px 5px;
}

label {
    display: block;
}

input,
label {
    margin: 0.4rem 0;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
}

.absolute {
    position: absolute;
    width: 350px;
    height: 250px;
}

.box-shadows {
    box-shadow: 10px 10px 10px blue;
}

.border {
    border: none;
}

.static {
    position: absolute;
    inset-inline-start: 1000px;
    inset-block-start: 10px;
}

.background-image {
    background-image: url(asset/salle\ de\ muscu.jpg)
}

.background-image2 {
    background-repeat: repeat-y
}

dialog {
    text-decoration: none;
}

.gap{
    gap: 50px;
}

